{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

  <div>
    <div style="text-align: center; marin: 4rem auto;">
      <p>
        {{ target_user.date_joined }}
      </p>

      {% if target_user.profile %}
      <h2 style="font-family: 'Nanumsquare_acB">
        {{ target_user.profile.nickname }}
      </h2>
      {% else %}
      <a href="{% url 'profileapp:create' %}">
        <h2 style="font-family: 'Nanumsquare_acB">
        Create Profile
        </h2>
      </a>
      {% endif %}

      {% if target_user == user %}
      <a href="{% url 'accountapp:update' pk=user.pk %}">
        <p>
          change info
        </p>
      </a>
      <a href="{% url 'accountapp:delete' pk=user.pk %}">
        <p>
          Delete
        </p>
      </a>
      {% endif %}
    </div>
  </div>

{% endblock %}