{% extends 'base.html' %}

{% block content %}

    <div style="text-align:center; height: 10rem;">
        <span style="background-color: darkviolet; border-radius: 1rem; margin: 2rem;">cat1</span>
        <span style="background-color: darkviolet; border-radius: 1rem; margin: 2rem;">cat1</span>
        <span style="background-color: darkviolet; border-radius: 1rem; margin: 2rem;">cat1</span>
        <span style="background-color: darkviolet; border-radius: 1rem; margin: 2rem;">cat1</span>
    </div>

{% endblock %}