{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .container div {
      width: 250px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }
    .container img {
      width: 100%;
      border-radius: 1rem;
    }
</style>

  <!--버튼-->
  <div class="sample">

    {% if food_list %}
      {% for food in food_list %}
        <span>
            <button class="open-modal">{{ food.name }}</button>
        <div class="modal">
           <div class="modal-content">
                <div class="modal-header">
                  <h2 class="modal-title">{{ food.name }}</h2><button class="close-modal">&times</button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'articleapp:ingredient_buy' %}" method="POST">
                        {% csrf_token %}
                        {% for food_detail in food_detail_list %}
                            {% if food.code == food_detail.code %}
                                <p><input type="checkbox" name="checks[]" value="{{ food_detail.ingredient }}">{{ food_detail.ingredient }}</input></p>
                            {% endif %}
                        {% endfor %}
                        <button type="submit" >식재료 추가 구매</button>
                    </form>
                </div>

                <div class="modal-footer">
                  <button class="close-modal">동일 요리 밀키트 구매</button>
                </div>
           </div>
        </div>
        </span>
      {% endfor %}

    {% else %}
      <h3>NODB</h3>
    {% endif %}
  </div>



<script  src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/magicgrid.js' %}"></script>


{% include 'snippets/pagination.html' with page_obj=page_obj %}



{% endblock %}