{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .container div {
      width: 250px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }
    .container img {
      width: 100%;
      border-radius: 1rem;
    }
</style>
<div class="sample">

    {% for ing in check_ingre %}
        <p>{{ ing }}</p>
            <div>
                {% for product in ingre_list %}
                    {% if product.keyword %}
                        {% if product.keyword == ing %}
                            <span>

                                <button class="open-modal" type="button">
                                    <img style="width: 10rem; border-radius: 1rem;" src ="{{ product.imageurl }}" alt="">
                                    {{ product.ingredient }}
                                    {{ product.price }}
                                </button>

                                <div class="modal">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h2 class="modal-title">{{ product.ingredient }}</h2>
                                            <button class="close-modal">&times</button>
                                        </div>

                                        <div class="modal-body">
                                            {% if product.subscribe %}
                                                {{ product.subscribe }}
                                            {% else %}
                                                {{ 없음 }}
                                            {% endif %}
                                        </div>

                                        <div class="modal-footer">
                                            <button class="close-modal">즉시 구매</button>
                                            <button class="close-modal">장바구니 넣기</button>
                                        </div>

                                    </div>
                                </div>
                            </span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

    {% endfor %}

</div>

<script  src="{% static 'js/modal.js' %}"></script>

{% endblock %}