{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .container div {
      width: 250px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }
    .container img {
      width: 100%;
      border-radius: 1rem;
    }
</style>

<div class="sample">
      {% if ingredient_list %}
          {% for ingredient in ingredient_list %}
             <span>

                <button id="check" class="open-modal" type="button">
                     <img style="width: 10rem; border-radius: 1rem;" src ="{{ ingredient.imageurl }}" alt="">
                        <div>
                            {{ ingredient.ingredient }}
                        </div>
                        <div>
                            {{ ingredient.price }}원
                        </div>

                </button>

                 <div class="modal">
                     <div class="modal-content">

                         <div class="modal-header">
                            <h2 class="modal-title">{{ ingredient.ingredient }} {{ "/" }} {{ ingredient.price }}</h2>
                            <button class="close-modal">&times</button>
                         </div>

                         <div class="modal-body">
                            {% if ingredient.subscribe %}
                                {{ ingredient.subscribe }}
                            {% else %}
                                {{ 없음 }}
                            {% endif %}


                         </div>

                         <div class="modal-footer">
                            <button class="close-modal">즉시 구매</button>
                            <button class="close-modal">장바구니 넣기</button>
                         </div>

                    </div>
                </div>
             </span>

          {% endfor %}
      {% else %}
        <h3>NO</h3>

      {% endif %}


    </div>

<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/magicgrid.js' %}"></script>


{% include 'snippets/pagination.html' with page_obj=page_obj %}
{% endblock %}