{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .container div {
      width: 250px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }
    .container img {
      width: 100%;
      border-radius: 1rem;
    }
</style>

    <div class="container">
      {% if ingridient_list %}
          {% for ingri in ingridient_list %}
          <div>
              {{ ingri.ingri }}
          </div>
          {% endfor %}
      {% else %}
        <h3>없다</h3>

      {% endif %}


    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>

    {% include 'snippets/pagination.html' with page_obj=page_obj %}
{% endblock %}