{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .container div {
      width: 250px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }
    .container img {
      width: 100%;
      border-radius: 1rem;
    }
</style>

<div style="text-align:center; height: 30rem;">
        <p>{{ check_mealkit }}</p>
            <div>
                {% for mealkit in mealkit_list %}
                    {% if mealkit.mealkit == check_mealkit %}
                        <span>
                            <button class="open-modal">
                                <img style="width: 10rem; border-radius: 1rem;" src ="{{ mealkit.thumbnail }}" alt="">
                                <p>{{ mealkit.product }}</p>
                                <p>{{ mealkit.price }}</p>
                            </button>

                            <div class="modal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title">{{ mealkit.mealkit }}</h2>
                                        <button class="close-modal">&times</button>
                                    </div>

                                    <div class="modal-body">
                                        {{ mealkit.product }}
                                    </div>

                                    <div class="modal-footer">
                                        <a href="{{ mealkit.url }}">바로구매 하기</a>
                                        <button class="close-modal">장바구니 넣기</button>
                                    </div>

                                </div>
                            </div>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>


</div>

<script  src="{% static 'js/modal.js' %}"></script>

{% endblock %}