{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
.updown {
border: 5px solid black; width: 0.1px; height: 500px;
}

.parent {
    display: flex;
}
.child1 {
    flex: 2;
}
.child2 {
    flex: 1;
}


</style>


<!-- <div class="updown"></div>-->
<div style="margin:3rem;">

</div>


<div class="parent">
    <div class="child1" style="border: solid; margin: 5rem;">
        <div style="margin: 2rem;">냉장고에 있는 식재료를 추가해주세요</div>
            <div style="margin: 2rem;">
                <input type="button" class="btn btn-outline-dark mt-3 mb-3 px-3" value="채소" onclick="execute(this);">
                <input type="button" class="btn btn-outline-dark mt-3 mb-3 px-3" value="정육계란" onclick="execute(this);">
                <input type="button" class="btn btn-outline-dark mt-3 mb-3 px-3" value="수산해산건어물" onclick="execute(this);">
                <input type="button" class="btn btn-outline-dark mt-3 mb-3 px-3" value="과일견과쌀" onclick="execute(this);">
            </div>

        <div id="show_ingre" ></div>
    </div>
<div class="child2" style="border: solid; margin: 5rem;">
        <form action="{% url 'articleapp:recommend' %}" method="POST">
            {% csrf_token %}
                <div style="margin: 2rem;">추가하신 식재료 리스트</div>
                <div style="margin: 2rem;" id='result'></div>
            <input style="margin: 2rem;" type="submit" class="btn btn-outline-dark mt-3 mb-3 px-3" value="추천">
        </form>
</div>
</div>

<script type="text/javascript">
    function execute(bt){
    var posts = JSON.parse("{{ posts_js | escapejs }}");
    var html = "";
    posts.forEach(function(e){
    if(e['bigcat'] == bt.value){
        var target = document.getElementById("show_ingre");
        html += "<button type='button' id='test' class='open-modal' name='ingre' value =";
        html += e['keyword'].replace(" ","");
        html += " onclick='getButtonValue(this);'>";
        html += e['keyword'];
        html += "</button>";
        target.innerHTML = html;
        }
    })
    }

    function getButtonValue(bt) {
    var target = document.getElementById("result");
    target.innerHTML += "<input class='open-modal' name='reco[]' value="+bt.value+" onclick='getDeleteValue(this);'>";
    }

    function getDeleteValue(bt) {
    bt.remove()
    }
</script>
<script src="{% static 'js/magicgrid.js' %}"></script>


{% endblock %}